@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Makeba";
  src: local("Makeba"), url(/Fonts/Makeba.ttf) format("truetype");
}

@font-face {
  font-family: "NunitoSansRegular";
  src: local("NunitoSansRegular"),
    url(/Fonts/NunitoSansRegular.ttf) format("truetype");
}

body {
  font-family: NunitoSansRegular;
  scroll-behavior: smooth;
  @apply bg-neutral-900 text-neutral-300;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
